
.list-navi {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 0.5rem;
  min-height: 44px;
}

.list-navi-v {
  flex-flow: wrap;
  align-items: center;
  justify-content: space-around;
  padding: 0.5rem 0.5rem;
}

.list-navi-heading {
  flex-grow: 0;
  flex-shrink: 0;
  padding: 0 0.5rem;
  // font-size: $font-size-sm;
  line-height: 44px;
}

.list-navi-btn-group {
  flex-grow: 0;
  flex-shrink: 0;
  padding: 0 0.5rem;
}

.list-navi-actions {
  flex-grow: 0;
  flex-shrink: 0;
  padding: 0 0.5rem;
}

.list-navi-filter {
  flex-grow: 1;
  padding: 0 0.5rem;
}
.list-navi-space {
  flex-grow: 1;
}

.list-navi-pager {
  flex-grow: 0;
  flex-shrink: 0;
  padding: 0 0.5rem;
}

.list-navi-btn {
  display: inline-block;
  padding: 0 0.5rem;
  height: 100%;
  border: none;
  background: none;
  // font-size: $font-size-sm;
  &, &:focus, &:active {
    outline: none;
  }
  &[disabled] {
    opacity: 0.3;
  }
}
