.table {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: flex-start;
  overflow-x: auto;
  overflow-y: hidden;

  table {
    border-collapse: separate;
    border-spacing: 5px 0;
    color: #424E4C;
  }
  th {
    padding: 0;
    position: relative;
  }
  td {
    position: relative;
    padding: 0;
    border-bottom: 1px solid rgba(#424E4C, 0.3);
  }
}

.headContainer {
  flex-grow: 0;
  flex-shrink: 0;
  overflow-y: scroll;
}

.bodyContainer {
  flex-grow: 1;
  overflow-x: hidden;
  overflow-y: scroll;
}

.cell {
  display: inline-block;
  padding: 0.3rem 0.5rem;
  vertical-align: top;
}

.headerCell {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100%;
  color: #FF8000;
  font-weight: normal;
  background-color: #424E4C;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  :global(.fa) {
    opacity: 0.1;
    z-index: 1;
    &.active {
      opacity: 1;
    }
  }

  &:hover :global(.fa) {
    opacity: 1;
  }
}

.valueCell {
  max-width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.sortable {
  cursor: pointer;
}

.headerLabel {

}

.divider {
  display: none;
  .headContainer:hover & {
    display: flex;
  }
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  right: -5px;
  bottom: 0;
  width: 6px;
  background-color: transparent;
  cursor: col-resize;

  &:before {
    content: '';
    display: block;
    width: 3px;
    height: 80%;
    border-width: 0 1px;
    border-style: solid;
    border-color: #424E4C;
  }
}
